# Virtual Environment
.venv/
venv/
ENV/

# Python Cache
__pycache__/
*.pyc

# Dataset & Trained Model Artifacts (Too large for GitHub)
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
models/*.h5
models/*.pkl
models/*.joblib

# OS Junk
.DS_Store